<div class="has-left-game" [class.show]="chessFacade.hasLeftGame()">
    <p>A player has left the game</p>
</div>

<div class="opponent-container">
    <div class="development-status">
        <span>🛠️ The game is currently in development</span>
    </div>
    @if (chessFacade.opponent()) {
        <span>Your opponent : {{chessFacade.opponent()?.username}}</span>
        <div [class]="chessFacade.currentPlayer().color === 'white' ?  'captured-pieces' : 'captured-pieces rotate'">
            @for (role of getOpponentPiecesCaptured(); track $index) {
                <app-piece [currentRole]="getRole(role)" />
            }
        </div>
    }

</div>

<div class="current-player-container">

    @if (chessFacade.gameSession()) {
        <div [class]="chessFacade.currentPlayer().color === 'white' ?  'captured-pieces' : 'captured-pieces rotate'">
            @for (role of getCurrentUserPiecesCaptured(); track $index) {
            <app-piece [currentRole]="getRole(role)" />
            }
        </div>
        <span>Game session : {{chessFacade.gameSession()}}</span>
    }
    @if (chessFacade.guest()) {
        <span>Username : {{chessFacade.currentPlayer().username}}</span>
    }
</div>