:host {
    .current-player-container {
        position: absolute;
        z-index: 10;
        bottom: 16px;
        left: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 40%;
    }

    .opponent-container {
        position: absolute;
        z-index: 10;
        top: 16px;
        left: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    span {
        font-size: 12px;
    }
    
    .development-status {
        z-index: 10;
        bottom: 16px;
        left: 16px;
        background-color: rgb(237, 234, 234);
        padding: 4px 8px;
        border-radius: 8px;
    }

    .has-left-game {
        position: absolute;
        top: 64px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        color: red;
        font-size: 18px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
        pointer-events: none;

        &.show {
            opacity: 1;
            visibility: visible;
        }

        p {
            margin: 0;
            text-align: center;
            font-weight: 500;
        }
    }

    .captured-pieces {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    .rotate app-piece {
        transform: rotate(180deg);
    }

    app-piece {
        width: 32px;
    }
}