:host {
    .current-player-container {
        position: absolute;
        z-index: 10;
        bottom: 16px;
        left: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .opponent-container {
        position: absolute;
        z-index: 10;
        top: 16px;
        left: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    .development-status {
        position: absolute;
        z-index: 10;
        top: 16px;
        right: 16px;
        background-color: rgb(237, 234, 234);
        padding: 4px 8px;
        border-radius: 8px;
    }
}