:host {
    width: 80%;
    height: 80%;

    .piece {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        display: block;
        margin: auto;
    }

    .rotate {
        transform: rotate(180deg);
    }
}