:host {
    .piece {
        width: 80%;
        height: 80%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all ease 0.2s;
        margin: auto;
        z-index: 2;
    }
}