:host {
    .container {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(121, 117, 117, 0.47);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.6px);
        -webkit-backdrop-filter: blur(7.6px);
        z-index: 3;
    }

    .menu {
        display: flex;
        gap: 28px;
        flex-direction: column;
        padding: 32px 16px;
        margin: auto;
        width: 300px;
        height: fit-content;
        border-radius: 16px;
        background-color: #FAFAFA;
    }

    .menu-navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 90%;
        margin: auto;
    }

    h2 {
        text-align: center;
        margin: 0;
    }

    button {
        width: 100%;
        padding: 16px 0;
        font-size: 16px;
        border-radius: 8px;
        border: 0px;
        font-weight: 500;
        background-color: #FDFDFD;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        cursor: pointer;
    }

    button:hover {
        background-color: #964900;
        color: #FDFDFD;
    }

    .settings-btn {
        position: absolute;
        bottom: 24px;
        right: 24px;
        width: 64px;
        height: 64px;
        border-radius: 8px;
        background-color: #964900;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.2s;
    }

    .settings-btn:hover {
        transition: 0.2s;
        scale: 1.1;
        opacity: 0.8;
    }

    .settings-btn span {
        font-size: 32px;
        color: white;
    }

    @media (max-width: 500px) {
        .menu {
            width: 80%;
        }
    }
}