@if(!chessFacade.gameIsStarted()){
<div class="container">
    <div class="menu">
        <h2>Menu</h2>
        <div class="menu-navigation">
            @if (isMenuLoading()) {
                <mat-spinner diameter="50" />
            } @else {
                @if (!isGuestOrLogged()) {
                    <button (click)="chessFacade.createGuest()">Play as a guest</button>
                    <button>Login</button>
                    <button>Create account</button>
                }
                @if(isGuestOrLogged()) {
                    @if (!haveGameSession()) {
                        <button (click)="chessFacade.createGameSession()">Play online with another player</button>
                        <button>Play locally with an AI</button>
                    } @else {
                        <button (click)="chessFacade.resumeGame()">Resume game</button>
                    }
                    <button (click)="chessFacade.disconnectGuest()">Disconnect</button>
                }
            }
        </div>
    </div>
</div>
} @else {
<div (click)="chessFacade.pauseGame()" class="menu-icon-in-game">
    <span class="material-icons">
        settings
    </span>
</div>
}